<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>{{TITLE}} {{foo}}</h1>
        <p class="tagline">{{description}}</p>
    </div>
    <div class="img-holder mt-3"><img src="/img/iphonex.png" alt="phone" class="img-fluid"></div>
</header>
